*{
  margin: auto;
}
.landingtop{
  background-image: url("./assets/backgrounds/landing.jpg");
  width: 100%;
  height: 400px;
  display: flex;
  background-size: cover;
  
}
#text{
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
  font-family: sans-serif;
  font-size: 25px;
  color: white;

}
#footerlogos{
  background-image: url("./assets/backgrounds/subscribe.jpg");
  background-size: cover;
}
#textlogos{
  text-align: center;
  color: white;
}
#footerdesc{
  background-color: #F15A29;
  text-align: center;
  color: white;
}
#customer{
  border: 2px solid grey;
  margin: 20px 20px 20px 20px;


}
#about{
  justify-content:right;
  margin-left: 80%;
}
#fastfoods{
  border: 1px solid white;
  display: inline-block;
  size: 30px;
  text-align: center;
  justify-content: center;
  background-image: url("./assets/backgrounds/foodsBg.jpg");
  background-size: cover;
  background-position-y: center;
}
#nav{
  display: inline-block;
}

.food{
  display: flex;
  height: 400px;
}
#fast{
  display: flexbox;
  margin-top: 0%;
}
#fast-food{
  float: left;
  flex-direction: column;
  display: flex;
}
#drinks{
  float: right;
}
a{
  color: #F15A29;
}
.foodtops{
  border: 2px solid white;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;

}
.foodtops div{
  border:2px solid white;
  width: 25%;
  height: 100%;
}
#happyparty{
  display: flex;
  flex-direction: column;
  text-align: center;
  display: inline;
}
#happyhour{
  background-color: lightgrey;
  height: 45%;
  width: 100%;

}
#partytime{
  background-color: #F15A29;
  height: 50%;
  width: 100%;
}
#happyparty p{
  margin-top: 12%;
  color: white;
}
#breakfast{
  background-image: url("./assets/foodtop/breakfast.jpg");
  background-size: cover;

}
#lunch{
  background-image: url("./assets/foodtop/lunch.jpg");
  background-size: cover;
  opacity: 0.5;
}
#dinner{
  background-image: url("./assets/foodtop/dinner.jpg");
  background-size: cover;

}
#breakfast p{
  margin-top: 25%;
  color: white;
  text-align: center;
}
#lunch p{
  margin-top: 25%;
  color: white;
  text-align: center;
}
#dinner p{
  margin-top: 25%;
  color: white;
  text-align: center;
}
#happyhour p{
  color: black;
}
